.wrapper{
    font-family: Arial, Helvetica, sans-serif;
}


.section-one{
    width: 100%;
    height: 360px;
    text-align: center;
    color: rgb(230, 226, 226);
    background-color: #1a1a1ae3;
}

.section-one h1{
    color: rgb(255, 255, 255);
    padding-top: 60px;
}

.section-one p{
    font-size: 16px;
}

.section-one a{
    background-color: #353535e3;
    color: rgb(230, 226, 226);
    padding: 15px 30px;
    border: solid 1px;
    border-color: rgb(134, 134, 134); 
}

.section-two{
    height: 205px;
    text-align: center;
    background-color: rgb(233, 233, 233);
    margin-top: 100px;
}
.section-two h2{
    padding-top: 30px;
    color: #1f1f1fe3;
}
  
.p-one{
    float: left;
    padding-left: 260px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.4;
    color: #252525f6;
    
}

.p-two{
    font-size: 16px;
    padding-right: 140px;
    padding-top: 0.2px;
    line-height: 1.4;
    color: #252525f6;
}


.section-three{
    height: 420px;
    margin-top: 43px;
    color: black;
    background-color: #1a1a1ae3 ;
}
.features{
    list-style: none;  
    display: flex;
    margin-left: 160px;
}

.feature-list-1{
    background-color: #ffff;
    width: 270px;
    height: 300px;
    margin-top: 65px;
    margin-left: 25px;
}

.feature-list-2{
    background-color: #ffff;
    width: 270px;
    height: 300px;
    margin-top: 65px;
    margin-left: 25px;
    
}
.feature-list-3{
    background-color: #ffff;
    width: 270px;
    height: 300px;
    margin-top: 65px;
    margin-left: 25px;
}

.feature-list-1 h3{
    color: #1f1f1fe3;
    padding-top: 40px;
    padding-bottom: 25px;
}
.feature-list-2 h3{
    color: #1f1f1fe3;
    padding-top: 40px;
    padding-bottom: 25px;
}
.feature-list-3 h3{
    color: #1f1f1fe3;
    padding-top: 40px;
    padding-bottom: 25px;
}

.section-four{
    height: 180px;
    margin-bottom: 400px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.section-four h2{
    color: #1f1f1fe3;
    padding-bottom: 22px;
}
.section-four p{
    color: rgb(80, 80, 80);
    padding-bottom: 40px;
}

.section-five{
    display: flex;
    
}
.contact{
    background-color: rgb(54, 133, 170);
}
.about{
    background-color: rgb(63, 63, 63);
}
.contact h3{
    color: #ffff;
    padding-top: 36px;
    padding-bottom: 36px;
}
.about h3{
    color: #ffff;
    padding-top: 36px;
    padding-bottom: 36px;
}
.about p{
    color: #ffff;
}
.contact p{
    color: #ffff;
}

.section-six{
    display: flex;
    background-color: black;
}

 .web{
    background-color: rgb(0, 0, 0);
    width: 1000px;
    height: 60px;
    margin-right: 450px;
    margin-left: 200px; 
 }
.project{
    width: 1000px;
    height: 60px;
    margin-right: 50px;
    background-color: rgb(0, 0, 0);
} 

